version: "3.8"
services:
  postgres:
    image: postgres:15-alpine
    container_name: expense_tracker_db
    environment:
      POSTGRES_USER: pantelis
      POSTGRES_PASSWORD: Pap1995!
      POSTGRES_DB: banker
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
